/* Root Imports */
@import "@/styles/anicons/anicons-regular.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
  @apply underline transition-all duration-300 decoration-white/50 hover:decoration-white/90 underline-offset-2;
}

.session-box h1 {
  @apply mt-4 mb-1 text-xl font-bold;
}

.session-box a {
  @apply underline transition-all duration-300 underline-offset-2 decoration-white/50 hover:decoration-white/90;
}

a.slide,
a.slide:visited,
a.slide:hover {
  text-decoration: none;
  @apply rounded-md bg-[#1E3D6C] px-3 py-1 text-white hover:opacity-80 transition-all;
}

.camp-text {
  -webkit-text-stroke: 1px #ead377;
  color: transparent;
}
